# Project environment
.idea/
.vscode/
.code-workspace
.tests/
data/*
uv.lock

# Cache
__pycache__/
*.py[cod]
.cache/
.ruff_cache/
.mypy_cache/
.pytest_cache/
.coverage/

# Build
build/
_build/
dist/
site/
*.egg-info/
*.egg
